$dark-color: #242424;
$white-gradient: linear-gradient(5.88deg, rgba(165, 165, 180, 0.15) 4.19%, rgba(228, 235, 239, 0.15) 95.81%, rgba(231, 232, 238, 0.15) 95.81%, rgba(231, 232, 238, 0.15) 95.81%), #FCFCFD;
$white-color: #ffffff;
$danger-color: #EB5757;
$grey-light: #DADAED;
$purple-color: #7841F4;
$purple-color-dark: #652AE6;
$purple-gradient: linear-gradient(90deg, #8658EB -0.42%, #652AE6 100.42%);
$highlight-green: rgba(27, 254, 192, 1);

